.container {
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-dark-8);
}

.header {
  border-bottom: 1px solid var(--mantine-color-dark-4);
  background-color: var(--mantine-color-dark-7);
  flex-shrink: 0;
}

.statusSection {
  background-color: var(--mantine-color-dark-8);
  flex-shrink: 0;
}

.messageListContainer {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.inputSection {
  border-top: 1px solid var(--mantine-color-dark-4);
  background-color: var(--mantine-color-dark-7);
  flex-shrink: 0;
}
