.container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mantine-color-dark-8);
}

.sidebar {
  border-right: 1px solid var(--mantine-color-dark-4);
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  overflow: hidden;
}
